<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="extentReportListenerUtil.Listenerr"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
     <class name="TestMavenCheck.Test.LoginPageTest"/>
	  <class name="TestMavenCheck.Test.HomePageTest"/>
      <class name="TestMavenCheck.Test.ProductPageTest"/>
      <class name="TestMavenCheck.Test.CartPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
